/*reset*/
* {
  margin: 0;
  padding: 0;
}
p {
  word-break: break-all;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  color: #333;
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}
ul,
li {
  list-style: none;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: #333;
}
textarea {
  resize: none;
  width: 100%;
  padding: 5px;
}
/*Modal*/
.modal-reg .reg-warn {
  color: #333;
}
/*Header*/
.header {
  width: 100%;
  height: 80px;
  background-color: #14B9C8;
  color: #fff;
  margin-bottom: 30px;
}
.header .container {
  position: relative;
}
.header h1 {
  height: 100%;
  line-height: 80px;
  margin: 0;
}
.header h1 a {
  color: #fff;
}
.header .avator {
  position: relative;
  display: inline-block;
  float: right;
  height: 50px;
  width: 50px;
  top: 15px;
  left: 0;
  border-radius: 50%;
  margin-right: 0;
}
.header .avator img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.header .text {
  float: right;
  height: 100%;
  margin-right: 100px;
  font-size: 16px;
  color: #fff;
  line-height: 80px;
  font-weight: inherit;
  text-align: left;
}
.header .text .pleaseLogin {
  cursor: pointer;
}
.header .list {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 99;
  width: 160px;
  padding-top: 10px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 3px;
  color: #333;
}
.header .list li {
  cursor: pointer;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
}
.header .list li:hover {
  background-color: #f5f5f5;
}
.header .modal-title {
  color: #333;
}
/*Main*/
.main {
  padding: 0;
}
.main .postList .header {
  height: 40px;
  background-color: #f2f2f2;
  color: #14B9C8;
  border-bottom: 1px solid #dddddd;
}
.main .postList .header h1 {
  padding: 12px 20px;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 5px solid #14B9C8;
  position: relative;
}
.main .postList .header button {
  height: 100%;
}
.main .postList .title {
  width: 800px !important;
  border-radius: 5px;
  margin-bottom: 10px;
}
.main .postList .mainText {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 6px 12px;
}
.main .postList .news {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.main .postList .news .user {
  font-size: 12px;
  color: #999;
}
.main .postList .news .avator {
  position: relative;
  display: inline-block;
  float: left;
  height: 25px;
  width: 25px;
  top: auto;
  left: auto;
  border-radius: 50%;
  margin-right: 10px;
}
.main .postList .news .avator img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main .postList .news .title {
  font-size: 18px;
  color: #000;
}
.main .postList .news .content {
  font-size: 14px;
  color: #999;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .postList .news .footer {
  font-size: 12px;
  color: #999;
}
.main .postList .news .footer .ic {
  position: relative;
  top: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.main .postList .news .footer .comment {
  margin-left: 10px;
  cursor: pointer;
}
.main .postList .news .footer .bc {
  margin-left: 3px;
}
/*details*/
.details,
.details_comment {
  width: 100%;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 20px;
  padding-top: 10px;
}
.details h1 {
  font-size: 32px;
  line-height: 40px;
}
.details .avator {
  position: relative;
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  top: auto;
  left: auto;
  border-radius: 50%;
  margin-right: 5px;
  float: none;
}
.details .avator img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.details .user {
  font-size: 14px;
}
.details .date {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}
.details .share {
  line-height: 40px;
}
.details .info {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.details .content {
  font-size: 14px;
  margin-bottom: 40px;
  width: 100%;
}
.details .list {
  width: 100%;
  height: 80px;
  padding: 0 200px;
}
.details .list li {
  position: relative;
  display: block;
  float: left;
  margin-right: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f8f8f8;
  cursor: pointer;
}
.details .list li:hover {
  color: #14B9C8;
}
.details .list li.nomargin {
  margin-right: 0;
}
.details .list li span {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
}
.details_comment {
  margin-top: 20px;
}
.details_comment li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}
.details_comment .pinglun {
  font-size: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.details_comment .avator {
  position: relative;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  top: auto;
  left: auto;
  border-radius: 50%;
  margin-right: 5px;
}
.details_comment .avator img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.details_comment .right {
  padding-left: 64px;
}
.details_comment .right .user {
  font-size: 14px;
  color: #000;
  line-height: 20px;
  font-weight: inherit;
  text-align: left;
}
.details_comment .right .commnet {
  font-size: 16px;
}
.details_comment .right .date {
  font-size: 12px;
  color: #999;
}
.details_comment .right .putcom {
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: -11px;
  float: right;
}
.details_comment .right .talk_list {
  margin-top: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 6px;
  background-color: #f8f8f8;
  display: none;
}
.details_button {
  margin-top: 20px;
  margin-bottom: 100px;
}
/*Recommend*/
.recommend {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
/*personpage*/
.personpage {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.personpage h1 {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
/*myposts*/
.myposts {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.myposts li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}
.myposts li .title {
  font-size: 16px;
}
.myposts li .footer {
  font-size: 12px;
  color: #999;
}
.myposts li .main {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
